$background: #000000;
$text: #FFFFFF;
$primary: #00DB95;
$secondary: #007650;

$headline-font: "Staff-X-Wide", sans-serif;
$mono-font: "t26-carbon", monospace;
$subline-font: "Staff-X-Wide", monospace;
$text-font: "Staff", sans-serif;

$headline-fontweight: 700;
$subline-fontweight: 400;
$mono-fontweight: 300;


$projectsGap: 40px; 