


@import 'vars.scss';
@import 'fonts.scss';



body {
    background: $background;
    color: $text;
    font-family: $text-font;
    overflow-x: hidden; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headline-font;
    font-weight: $headline-fontweight;
}

.carbon {
    font-family: $mono-font;
    font-weight: $mono-fontweight;
}

.staff-x-wide {
    font-family: $headline-font;
    font-weight: $headline-fontweight;
}